{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des Slides{% endblock %}

{% block body %}
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
        <div class="container">
            <div class="az-content-left az-content-left-components">
                {{ include('dashbord/menu_page.html.twig') }}

            </div>
            <div class="az-content-body pd-lg-l-40 d-flex flex-column">
                <div class="az-content-breadcrumb">
                    <span>Backoffice</span>
                    <span>Page</span>
                    <span>Newsletter</span>
                </div>
                <h2 class="az-content-title">Gestion des newsletters</h2>

                <div class="az-content-label mg-b-5"></div>
                <p class="mg-b-20"></p>

                <div class="mb-5 text-right">
                    <a href="{{ path('backend_newsletter_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Ajouter</a>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{message|raw}}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="table-responsive">
                    <table class="table table-hover mg-b-0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Emails</th>
                            <th>Statuts</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for newsletter in newsletters %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#slide{{ newsletter.id }}">{{ newsletter.email }}</a>
                                </td>
                                <td>
                                    {% if newsletter.statut %}
                                        <span class="badge badge-success">Actif</span>
                                    {% else %}
                                        <span class="badge badge-danger">Desactivé</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center" style="font-size: 1.3rem;">
                                    <em> Aucun slide</em>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    {% for newsletter in newsletters %}
        <div id="slide{{ newsletter.id }}" class="modal">
            {{ render(url('backend_newsletter_show',{'id':newsletter.id})) }}
        </div>
    {% endfor %}
{% endblock %}
