<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content-demo">
        <div class="modal-header">
            <h6 class="modal-title">{{ entreprise.raisonSociale }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="text-justify">
                {% if entreprise.logo %}
                    <img src="{{ absolute_url(asset('uploads/entreprise/'~ entreprise.logo)) }}" alt="" class="img-thumbnail" style="margin: auto 15px 15px auto; max-width: 200px; float: left">
                {% endif %}
                <div>Type: <strong>{{ entreprise.type }}</strong></div>
                <div>Raison sociale: <strong>{{ entreprise.raisonSociale }}</strong></div>
                <div>Siège: <strong>{{ entreprise.siege }}</strong></div>
                <div>Adresse: <strong>{{ entreprise.adresse }}</strong></div>
                <div>Email: <strong>{{ entreprise.email }}</strong></div>
                <div>Telephone: <strong>{{ entreprise.telephone }}</strong></div>
                <div>Annee: <strong>{{ entreprise.annee }}</strong></div>
                <div>Domaine: <strong>{{ entreprise.domaine }}</strong></div>
            </p>
        </div><!-- modal-body -->
        <div class="modal-footer">
            {{ include('entreprise/_delete_form.html.twig') }}
            <a href="{{ path('backend_entreprise_edit', {'id':  entreprise.id}) }}" class="btn btn-primary">Modifier</a>
            <button type="button" data-dismiss="modal" class="btn btn-outline-light">Fermer</button>
        </div>
    </div>
</div>
