{% if actualites %}
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                Actualites
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for actualite in actualites|slice(0,4) %}
                    <li>
                        <a href="{{ absolute_url(path('frontend_actualite_show', {'slug': actualite.slug}) )}}">
                            <img alt="{{ actualite.titre }}" src="{{ absolute_url(asset('uploads/actualites/'~ actualite.media)) }}" width="100">
                        </a>
                        <h3><a href="{{ absolute_url(path('frontend_actualite_show', {'slug': actualite.slug}) )}}">{{ actualite.titre}}</a></h3>
                        <p>{{ actualite.contenu|raw|slice(0,80) }}...</p>
                        <div class="meta-post">
                            <a href="#" title="Début période">
                                <i class="fa fa-calendar"></i> {{ actualite.createdAt|date('d/m/Y') }}
                            </a>
                            <em></em>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-right all-agenda">
                ...<a href="{{ path('frontend_actualite_liste') }}">Toutes les actualités</a>
            </div>

        </div>
    </div>
{% endif %}