{% extends 'base.html.twig' %}
{% block title %} Comité de pilotage{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            {{ include('frontend/presentation_include.html.twig') }}

            <!-- Agenda -->
            {% if agendas %}
                <ul role="tablist" class="tab-popular hidden-sm hidden-xs">
                    <li class="active">
                        <a href="#tab1" role="tab" data-toggle="tab">
                            AGENDA
                        </a>
                    </li>
                </ul>
                <div class="tab-content hidden-sm hidden-xs">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <ul class="list-news-popular">
                            {% for agenda in agendas|slice(0,2) %}
                                <li>
                                    <a href="{{ absolute_url(path('frontend_agenda_show', {'slug': agenda.slug}) )}}">
                                        <img alt="{{ agenda.titre }}" src="{{ absolute_url(asset('uploads/agenda/'~ agenda.media)) }}" width="100">
                                    </a>
                                    <h3><a href="{{ absolute_url(path('frontend_agenda_show', {'slug': agenda.slug}) )}}">{{ agenda.titre}}</a></h3>
                                    <p>{{ agenda.contenu|raw|slice(0,80) }}...</p>
                                    <div class="meta-post">
                                        <a href="#" title="Début période">
                                            <i class="fa fa-calendar"></i> {{ agenda.dateDebut|date('d/m/Y') }}
                                        </a>
                                        <em></em>
                                        <span>
                               <a href="#" title="Fin période"><i class="fa fa-calendar"></i> {{  agenda.dateFin|date('d/m/Y') }}</a>
                            </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-right all-agenda">
                            ...<a href="{{ path('frontend_agenda_list') }}">... Tout l'agenda</a>
                        </div>

                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-8 col-sm-12">
            <article class="post-detail">
                <h1>Comité de pilotage</h1>
                <div class="row">
                    {% for portrait in portraits %}
                        <div class="col-md-4 portrait">
                            {% if portrait.media %}
                                <img src="{{ absolute_url(asset('uploads/portrait/'~ portrait.media)) }}" alt="">
                            {% else %}
                                <img src="{{ absolute_url(asset('backoffice/images/avatar.png')) }}" alt="">
                            {% endif %}
                            <div class="text-center">
                                <h1>{{portrait.nom|upper}} {{ portrait.prenoms|title }}</h1>
                                <h3>{{ portrait.fonction }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </article>

        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .portrait{
            margin: 25px auto;
            text-align: center;
            cursor: pointer;
        }
        .portrait:hover{
            color: #0e2a00;
        }
        .portrait img{
            max-width: 200px;
            min-width: 150px;
            text-align: center;
        }
        .portrait img:hover{
            transform: scale(1.3);
            transition: .3s ease-in-out;
        }
        .portrait h1{
            color: darkblue;
            font-size: 1.8rem;
        }
        .portrait h3{
            font-size: 1.5rem;
            margin: 0;
        }
        .portrait h1:hover,
        .portrait h3:hover{
            color: #0e2a00;
        }
    </style>
{% endblock %}
