<div class="block hidden-sm hidden-xs">
    <div class="widget-title"><span>L'Association</span></div>
    <div class="menu-title"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'presentation'}) )}}">Qui sommes-nous?</a></div>
    <ul class="menu-items">
        <li class="item"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'presentation'}) )}}">Aujourd'hui</a></li>
        <li class="item"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'historique'}) ) }}">La génèse</a></li>
        <li class="item"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'organigramme'}) ) }}">Organigramme fonctionnel</a></li>
        <li class="item"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'presse'}) ) }}">La presse parle de nous...</a></li>
    </ul>
    <div class="menu-title"><a href="#">Administratif</a></div>
    <ul class="menu-items">
        <li class="item"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'statut'}) ) }}">Statuts</a></li>
        <li class="item"><a href="{{ absolute_url(path('frontend_presentation', {'slug': 'reglement'}) ) }}">Règlement intérieur</a></li>
    </ul>
    <div class="menu-title"><a href="#">Contact</a></div>
    <div class="menu-title"><a href="#">Informations MMG</a></div>
    <ul class="menu-items">
        <li class="item"><a href="#">Bureau</a></li>
        <li class="item"><a href="#">Conseil d'administration</a></li>
    </ul>
</div>