{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des articles de presse{% endblock %}

{% block body %}
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
        <div class="container">
            <div class="az-content-left az-content-left-components">
                {{ include('dashbord/menu_presentation.html.twig') }}

            </div>
            <div class="az-content-body pd-lg-l-40 d-flex flex-column">
                <div class="az-content-breadcrumb">
                    <span>Backoffice</span>
                    <span>L'association</span>
                    <span>La presse parle de nous</span>
                </div>
                <h2 class="az-content-title">Gestion des articles presses</h2>

                <div class="az-content-label mg-b-5"></div>

                <div class="mb-5 text-right">
                    <a href="{{ path('backend_presse_index') }}" class="btn btn-outline-primary"><i class="fa fa-reply"></i> Liste</a>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{message|raw}}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ include('presse/_form.html.twig') }}


            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .preview {
            max-width: 200px;
            max-height: 200px;
            display: block;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            'use strict'

            // Datepicker found in left sidebar of the page
            var highlightedDays = ['2018-5-10','2018-5-11','2018-5-12','2018-5-13','2018-5-14','2018-5-15','2018-5-16'];
            var date = new Date();

            $('.fc-datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: 'yy-mm-dd',
                language: 'fr_FR',
                beforeShowDay: function(date) {
                    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
                    for (var i = 0; i < highlightedDays.length; i++) {
                        if($.inArray(y + '-' + (m+1) + '-' + d,highlightedDays) != -1) {
                            return [true, 'ui-date-highlighted', ''];
                        }
                    }
                    return [true];
                }
            });


        });
    </script>
    <script type='text/javascript'>

        $("input[data-preview]").change(function() {
            var $input = $(this);
            var fileReader = new FileReader();
            fileReader.readAsDataURL(this.files[0]);
            fileReader.onload = function(fileEvent) {
                $($input.data('preview')).attr('src', fileEvent.target.result);
            };
        });
    </script>
{% endblock %}