{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des documents{% endblock %}

{% block body %}
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
        <div class="container">
            <div class="az-content-left az-content-left-components">
                {{ include('dashbord/menu_presentation.html.twig') }}

            </div>
            <div class="az-content-body pd-lg-l-40 d-flex flex-column">
                <div class="az-content-breadcrumb">
                    <span>Backoffice</span>
                    <span>Accueil</span>
                    <span>document</span>
                </div>
                <h2 class="az-content-title">Gestion des documents</h2>

                <div class="az-content-label mg-b-5"></div>
                <p class="mg-b-20"></p>

                <div class="row mb-5 text-right">
                    <div class="col-sm-9 text-right">
                        <a href="{{ path('backend_document_index') }}" class="btn btn-outline-secondary"><i class="fa fa-list"></i>&nbsp; Liste</a>
                        <a href="{{ path('backend_document_edit', {'id': document.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; Modifier</a>
                    </div>
                    <div class="col-sm-3 text-left">{{ include('document/_delete_form.html.twig') }}</div>

                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{message|raw}}
                        </div>
                    {% endfor %}
                {% endfor %}

                <iframe src="{{ absolute_url(asset('uploads/documents/'~ document.media)) }}" width="97%" height="1000" frameborder="0">



            </div>
        </div>
    </div>
{% endblock %}



