{% extends 'backend_layout.html.twig' %}

{% block title %}{{parent()}} Tableau de bord{% endblock %}

{% block body %}
    <div class="az-content az-content-dashboard-four">
        <div class="media media-dashboard">
            <div class="media-body">
                <div class="az-content-header">
                    <div>
                        <h6 class="az-content-title tx-18 mg-b-5">Tableau de bord </h6>
                        <p class="az-content-text tx-13 mg-b-0">Statistiques des trafics sur le site.</p>
                    </div>
                </div>

                <div class="card card-dashboard-twelve mg-b-20 text-center" style="padding: 50px; text-align:center; font-weight:bold; font-size: 1.5rem;">
                    <a href="{{ path('backend_analytics_helloanalytics') }}">Voir les statistiques</a>
                </div>

                <div class="row row-sm mg-b-20">
                    <div class="col-md-6">

                    </div><!-- col -->
                    <div class="col-md-6 mg-t-20 mg-md-t-0">

                    </div><!-- col -->
                </div><!-- row -->

            </div><!-- media-body -->

            <div class="media-aside">
                <div class="row row-sm">
                    <div class="col-md-6 col-lg-4 col-xl-12">
                        <div class="card card-dashboard-calendar">
                            <h6 class="card-title">Calendrier</h6>
                            <div class="media az-media-date">
                                <h1>{{ aujourdhui|date('d', "Europe/Paris") }}</h1>
                                <div class="media-body">
                                    <p>{{ aujourdhui|date('M', "Europe/Paris") }} {{ aujourdhui|date('Y') }}</p>
                                    <span>{{ aujourdhui|date('D', "Europe/Paris") }}</span>
                                </div>
                            </div>
                            <div class="card-body"><div class="fc-datepicker"></div></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8 col-xl-12 mg-t-20 mg-md-t-0 mg-xl-t-20">
                    </div>
                </div><!-- row -->
            </div><!-- media-aside -->
        </div><!-- media -->

    </div>
{% endblock %}

