<div class="component-item">
    <label>Menu Accueil</label>
    <nav class="nav flex-column">
        <a href="{{ path('backend_slider_index') }}" class="nav-link {% if show == 'slider' %}active{% endif %}">Referentiel</a>
        <a href="{{ path('backend_agenda_index') }}" class="nav-link {% if show == 'agenda' %}active{% endif %}">Base Form</a>
        <a href="{{ path('backend_mission_index') }}" class="nav-link {% if show == 'mission' %}active{% endif %}">Galerie</a>
        <a href="{{ path('backend_faq_index') }}" class="nav-link {% if show == 'faq' %}active{% endif %}">Contact</a>
        <a href="{{ path('backend_newsletter_index') }}" class="nav-link {% if show == 'newsletter' %}active{% endif %}">Newsletter</a>
    </nav>

    <label>Securité</label>
    <nav class="nav flex-column">
        <a href="#" class="nav-link">Mes actions</a>
        <a href="#" class="nav-link">Changer mon mot de passe</a>
        <a href="#" class="nav-link">Déconnexion</a>
    </nav>
</div>