{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des retours d'expériences{% endblock %}

{% block body %}
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
        <div class="container">
            <div class="az-content-left az-content-left-components">
                {{ include('dashbord/menu_accueil.html.twig') }}

            </div>
            <div class="az-content-body pd-lg-l-40 d-flex flex-column">
                <div class="az-content-breadcrumb">
                    <span>Backoffice</span>
                    <span>Accueil</span>
                    <span>Retour d'expériences</span>
                </div>
                <h2 class="az-content-title">Gestion des retours d'expériences</h2>

                <div class="az-content-label mg-b-5"></div>
                <p class="mg-b-20"></p>

                <div class="mb-5 text-right">
                    <a href="{{ path('backend_rex_index') }}" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; List</a>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{message|raw}}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ include('rex/_form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .preview {
            max-width: 200px;
            max-height: 200px;
            display: block;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#rex_message', {
            theme: 'snow'
        });
    </script>
    <script type='text/javascript'>

        $("input[data-preview]").change(function() {
            var $input = $(this);
            var fileReader = new FileReader();
            fileReader.readAsDataURL(this.files[0]);
            fileReader.onload = function(fileEvent) {
                $($input.data('preview')).attr('src', fileEvent.target.result);
            };
        });
    </script>
{% endblock %}
