{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="row form-group d-md-flex">
            <div class="col-md-12 mg-b-20">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 mg-b-20">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div id="cbWrapper2" class="parsley-checkbox mg-b-0">
                    <label class="ckbox">
                        {{ form_widget(form.roles.0) }}<span>{{form_label(form.roles.0)}}</span>
                    </label>
                </div>
                <div id="cbWrapper2" class="parsley-checkbox mg-b-0">
                    <label class="ckbox">
                        {{ form_widget(form.roles.1) }}<span>{{form_label(form.roles.1)}}</span>
                    </label>
                </div>
                <div id="cbWrapper2" class="parsley-checkbox mg-b-0">
                    <label class="ckbox">
                        {{ form_widget(form.roles.2) }}<span>{{form_label(form.roles.2)}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row form-group d-md-flex">
            <div class="col-md-12 mg-b-20 text-right">
                {{ form_widget(form) }}
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> &nbsp; {{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
