{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
        <div class="container">
            <div class="az-content-left az-content-left-components">
                {{ include('dashbord/menu_page.html.twig') }}

            </div>
            <div class="az-content-body pd-lg-l-40 d-flex flex-column">
                <div class="az-content-breadcrumb">
                    <span>Backoffice</span>
                    <span>Administrateur</span>
                    <span>Utilisateurs</span>
                </div>
                <h2 class="az-content-title">Gestion des utilisateurs</h2>

                <div class="az-content-label mg-b-5"></div>
                <p class="mg-b-20"></p>

                <div class="mb-5 text-right">
                    <a href="{{ path('admin_user_index') }}" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; Liste</a>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{message|raw}}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

                {{ include('user/_delete_form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}

